$white-soft: #fffcfe;

$white: #ffffff;
$black: #181818;

$pink: #ff1cc1;
$purple: #d580ff;

$green: #68f4eb;
$dark-green: #30c0b7;

$dark-blue-background: #04014d;
$dark-purple-background: #490075;

$dark-blue-card-background: #18132b;

$shadow-color: #04014d;
$shadow-color-rgba: 4 1 77;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

* {
  overflow-x: hidden; /* prevent unwanted scroll */
}

/* remover algumas fontes ou trocar por semelhantes a Inter
remover linhas desnecessarias*/

body {
  background-image: radial-gradient(circle 700px, #490075, #39026b, #290362, #180357, #04014d);
  // background-attachment: fixed;
  background-repeat: no-repeat;
  min-height: 100vh;
  color: $white-soft;
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

//perceber o que é que aqui está a criar um overflow que nao me deixa fazer scroll para baixo.

// .blobs {
//   position: fixed; /* fix position relative to viewport */
//   top: 0;
//   left: 0;
//   width: 100vw; /* full viewport width */
//   height: 100vh; /* full viewport height */
//   pointer-events: none; /* allow clicks through */
//   z-index: 0; /* behind main content */
// }
// .blob-right-one {
//   position: absolute;
//   background-image: url('@/assets/right-blob-one.svg');
//   width: 350px;
//   height: 520px;
//   bottom: -260px;
//   right: -70px;
//   background-repeat: no-repeat;
//   background-size: contain;
//   opacity: 0.5;
// }

// .blob-right-two {
//   position: absolute;
//   background-image: url('@/assets/right-blob-two.svg');
//   width: 490px;
//   height: 590px;
//   bottom: -250px;
//   right: -125px;
//   background-repeat: no-repeat;
//   background-size: contain;
//   opacity: 0.5;
// }
