@import './base.scss';

#app {
  max-inline-size: 100%;
  margin-inline: auto;
  /* padding: 2rem;
  font-weight: normal; */
  z-index: 1;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: uppercase;
}

h2 {
  font-size: 2rem;
  font-weight: 600;
  background: linear-gradient(90deg, $green, $dark-green);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

//fazer um calculo para o primeiro child - retirar parte para a navbar pertencer a secçao
section {
  height: 100vh;
  margin: 0 auto;
}

//li sem bullet
//a sem decoraçao
//base de botao

/* @media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
} */
